.credits-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0f090d;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.credits-heading {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #ffda6a;
}

.credits-list {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
  line-height: 2rem;
}